<div class = "container">
  <div class="wrapper">
    <div action="index.html"  method="post" name="Login_Form" class="form-signin">       
      <h3 class="form-signin-heading">Please Sign In</h3>
      <h3 class="form-signin-heading">تسجيل الدخول</h3>
      <hr class="colorgraph"><br> 
      <input ng-model="user.username" type="text" id="userName" class="form-signin-control" name="Username" placeholder="اسم المستخدم" required="" autofocus="" />
      <input ng-model="user.password" type="password" id="password" class="form-signin-control" name="Password" placeholder="كلمة المرور" required=""/>  
      <span  id="errorSpan" style=" color:red ; text-align:center ; display: none; ">الرجاء أعادة المحاولة</span>   
      <button class="btn btn-lg btn-primary btn-block"  ng-click="signIn()"  name="Submit" value="Login">تسجيل الدخول</button>        
    </div>     
  </div>
</div>